@import "colors";


@font-face{
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Regular.woff') format('woff'),
  url('NeueMontreal-Regular.woff2') format('woff2');
  font-weight:normal;
  font-style: normal;
}

@font-face{
  font-family: 'Neue Montreal Light';
  src: url('../fonts/NeueMontreal-Light.woff') format('woff'),url('NeueMontreal-Light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

h1,h2,h3,caption,p,h4{
  font-family: 'Neue Montreal', sans-serif;
  font-weight: normal;
}


h1{
  font-size: 48px;
  line-height: 58px;
  @include for-tablet-portait-up{
font-size: 26px;
line-height: 32px}
}

h2{
  font-size: 36px;
  line-height: 43px;
  margin-top: 8px;
  margin-bottom: 8px;
  @include for-tablet-portait-up{
font-size: 28px;
line-height: 40px}
}

h3{
  font-size: 24px;
  line-height: 34.8px;
  @include for-tablet-portait-up{
font-size: 18px;
line-height: 26px}
}

#email{
padding-top: 0px;
padding-bottom: 0px;
}

h4{
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 0 0;
}

caption{
  font-size: 14px;
  line-height: 19px;
}

p{
  font-size: 16px;
  line-height: 22px;
}

.textlink{
  color: $mandarin;
  transition: 0.3s;
}
.textlink:hover{
color: $perssimon !important;
}

.small{
  font-size: 10px;
  line-height: 12px;
}


sup{
  font-size: 14px;
}

.emoji{
  line-height: 0;
}

li{
list-style: none;
padding: 0;
margin-left: 0;
display: inline;
}

ul{
  list-style: none;
  padding: 0;
  margin-left: 0;
  display:inline;
}

#details{
  margin-top: 12px;
  margin-bottom: 4px;
}
