
.images{
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
}


#dt01{
  background-image: url(../img/dt01.png);
}

#dt02{
  background-image: url(../img/dt02.png);
}

#dt03{
  background-image: url(../img/dt01.png);
}
