
.images{
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
}


#dt01{
  background-image: url(../img/dt01.png);
}

#dt02{
  background-image: url(../img/dt02.png);
}

#dt03{
  background-image: url(../img/dt01.png);
}


#face{
  height: 80px;
  width: 80px;
  @include for-tablet-landscape-up{
    height: 60px;
    width: 60px;
    padding-left: 2px;
  }
}
