@import "colors";
@import "mixins";

.display{
  display: grid;
  //flex-direction: column;
}

.navbar{
  display: grid;
  flex-direction: row;
  justify-content: space-around;
}

ul{
  list-style: none;
}


.work{
}

.intro{
}

.experience{
  margin: 0px 0 20px 0;
  padding: 0 0 0 0;
}

.grid{
  grid-template-columns:repeat(8, 1fr);
  grid-column-gap: 20px;
}

.intro-grid{
grid-column: 1/7;
grid-row: 1/4;

@include for-tablet-landscape-up{
  grid-column: 1/9;
}
}

.past{
  margin-bottom: 160px;
}


.about{
  margin-top: 160px;
  margin-bottom: 160px;
  @include for-tablet-portait-up{
  margin-top: 80px;}
}

.about-grid{
  grid-column: 1/6;
  @include for-tablet-portait-up{
  grid-column: 1/8}
}

.about-elsewhere{
  grid-column: 7/9;
  @include for-tablet-portait-up{
  grid-column: 1/8}
}

.logo{
grid-column: 1/4;
}

.contact{
grid-column: 8/9;
text-decoration: none;
}

.footer{
  border-top:1px solid $black;
}

.status{
  grid-column: 1/4
}

.date{
  grid-column: 8/9;
  @include for-tablet-portait-up{
  grid-column: 6/8}
}


.spanimage1{
  background-color: $davidstea;
  min-height: 740px;
  max-height: 740px;
  grid-column: 1/9;
  grid-row: 1/2;
  margin-bottom: 20px;

}

.project{
margin-top: 60px;
margin-bottom: 90px;
}

.left{
grid-column: 1/4;
@include for-tablet-portait-up{
grid-column: 1/8}
}
.right{
grid-column: 5/9;
@include for-tablet-portait-up{
grid-column: 1/8}
}

.meta{
display:grid;
grid-template-columns: repeat(2, 1fr);

}

.role{
grid-column: 1/2;
}
.platform{
grid-column: 2/3;
}
