@import "layout";
@import "mixins";
@import "images";
@import "fonts";
@import "colors";


html{
  background-color: $green;
  margin: 0;
  padding: 24px;
}

body,content{
  padding:0;
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

content{
  max-width: 1440px;
  width: 100%;
  border: 1px solid red;}
