@import "layout";
@import "mixins";
@import "images";
@import "fonts";
@import "colors";
@import "normalize";


html{
  background-color: $green;
  margin: 0;
  padding: 24px;
}

body,content{
  padding:0;
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

content{
  max-width: 1440px;
  width: 100%;
}

section{
  margin-top: 12px;
  margin-bottom: 12px;
}


button{
  border: none;
  background-color: $black;
  color: $white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Neue Montreal', sans-serif;
  font-weight: normal;
  border-radius: 12px;
}
